html,
body {
    height: 100%;
}

body {
    width: 100%;
    margin: auto;
}

.font-a {
    font-family: 'Arima Madurai', cursive;
}

.font-b {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Arima Madurai', cursive;
}

p {
    font-family: 'Open Sans', sans-serif;
}
/*Welcome page*/

.enterpage {
    background-color: #000305;
}
@keyframes changeColor {
    0% {
        color: blue;
    }
    25% {
        color: red;
    }
    50% {
        color: yellow;
    }
    75% {
        color: green;
    }
    100% {
        color: #E2E5E7;
    }
}
.greeting {
    color: #E2E5E7;
    text-align: center;
    animation-name: changeColor;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#dragon {
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#enter-btn {
    height: 40px;
    width: 20%;
    border: 5px solid #E2E5E7;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    opacity: 0;
    position: relative;
    display: inline-block;
    margin: 50px 535px 50px 535px;
    padding-top: 10px;
    padding-bottom: 20px;
    animation-name: fadeIn;
    animation-delay: 1.5s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/*Home page*/

header {
    border: 3px solid #808486;
    background-color: #0C78B2;
    /*height: 100px;*/
}

.gen-page {
    background-color: #E2E5E7;
}

@keyframes bounce {
    0%{
        font-size: 14px;
    }
    50% {
        font-size: 25px;
    }
    100% {
        font-size: 50px;
    }
}

.co-name {
    display: inline-block;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
}

.main-nav {
    text-align: left;
    float: right;
}

.nav-btn {
    /*border: 5px solid #808486;*/
    border-radius: 5px;
    /*background-color: #000305;*/
    display: inline-block;
    margin: 15px;
    padding: 10px;
}

.nav-btn:hover {
        background-color: #20437c;
    }


.nav-btn.active {
    background-color: #cc9900;
}

a {
    text-decoration: none;
    color: white;
}

/*hamburger menu*/

#ham-nav {
    background-color: black;
    display: none;
    /*height: 100%;*/
    position: relative;
    width: 15%;
}

#hamburger {
    border: 2px solid black;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: 80%;

}

span.ham {
    width: 80%;
    margin: 2px;
    height: 2px;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 3px;
    pointer-events: none;
}

.mobile {
    background-color: white;
    box-shadow: 0px 5px 50px -5px;
    margin: 0;
    padding: 0px 5px 0px 5px;
    position: relative;
    bottom: 0;
    width: 190px;
    /*max-width: 420px;*/
    margin-top: -119px;
    z-index: 3;
    transform: translate(-110%, 100%);
    transition: 1s all cubic-bezier(1, 0.25, 0.07, 0.96);
}


.mobile ul {
        padding-left: 20px;
    }


.mobile-nav-items {
    list-style: none;
    font-size: 1.5rem;
}


@media screen and (max-width: 420px) {
    #ham-nav {
        display: inline-block;
        height: 30px;
    }

    #divNav {
        height: 30px;
    }

    .mobile.active {
        display: block;
        transform: translate(0%, 100%);
    }

    .main-nav {
        display: none;
    }
}

/*main content information*/

#main {
    /*background-image: url("../images/blue-fire.jpeg");*/
    /*background-position: 50% 50%;*/
    /*background-repeat: repeat-y;*/
    /*background-size: cover;*/
    /*float: left;*/
    /*width: 80%;*/
    position: relative;
    display: flex;
    padding-bottom: 223px;
    /*right: 20%;*/
}

.sidebar {
    /*float: left;*/
    width: 20%;
    position: relative;
    /*left: 40%;*/
    overflow: hidden;
    /*min-height: 500px;*/
    background-image: url("../images/blue-fire.jpeg");
    /*height: 100%;*/
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.main-content {
    /*float: left;*/
    width: 80%;
    padding-left: 20px;
    /*position: relative;
    left: 70%;
    overflow: hidden;
    text-align: left*/;
    /*float: left;
    width: 65%;
    min-height: 1px;

    margin-left: 10px;*/
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.book-info {
    background-color: #E2E5E7;
    height: 600px;
    float: left;
}

footer {
    border: 3px solid #808486;
    background-color: #0C78B2;
    margin: auto;
    text-align: center;
    display: block;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: 1s all ease-in-out;
}
footer > h2, h3, p {
    margin: 5px;
}

footer.show {
        opacity: 1;
    }

/*Book of the month page*/

.info {
    /*height: 500px;*/
    padding-bottom: 223px;
}

.book-opts {
    display: block;
    text-align: center;
}

.monthly-book {
    display: none;
}


.monthly-book.active {
        display: block;
        text-align: center;
    }

.placeholder {
    min-height: 300px;
}

img {
    max-width: 100%;
}
/*suggestion page*/


#wrapper {
    padding-bottom: 350px;
}


#thank-you {
    text-align: center;
}


.frm {
    text-align: left;
    margin-left: 100px;
}

